In [1]:
# Dependencies and Setup
import pandas as pd
import os 
import numpy as np

# File to Load (Remember to Change These)
path = os.path.join("Resources", "purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(path)

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
purchase_data_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [4]:
purchase_data_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

## Player Count

In [5]:
#Add a column for Total Players that totals the Purchase ID or SN
Total_Players = purchase_data_df['SN'].drop_duplicates().count()

* Display the total number of players

In [6]:
#Display the total number of players
pd.DataFrame({'Total Players': [Total_Players]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
Unique_items = purchase_data_df['Item ID'].drop_duplicates().count()
Unique_items

183

In [8]:
Average_Price = purchase_data_df['Price'].mean()
Average_Price

3.050987179487176

In [9]:
Total_Purchases = purchase_data_df['Item ID'].count()
Total_Purchases

780

In [10]:
Total_Revenue = purchase_data_df['Price'].sum()
Total_Revenue

2379.77

In [11]:
pd.DataFrame({'Unique items': [Unique_items],
             'Average Price': [Average_Price], 
             'Total Purchases': [Total_Purchases], 
              'Total Revenue': [Total_Revenue]})

   Unique items  Average Price  Total Purchases  Total Revenue
0           183       3.050987              780        2379.77

In [12]:
pd.DataFrame({'Unique items': [Unique_items],
             'Average Price': [[Average_Price].map('${:,.2f}'.format)], 
             'Total Purchases': [Total_Purchases], 
              'Total Revenue': [Total_Revenue]})

AttributeError: 'list' object has no attribute 'map'

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [14]:
gender_df = purchase_data_df.loc[:, ["SN", "Gender"]]
gender_df.drop_duplicates().count()

SN        576
Gender    576
dtype: int64

In [15]:
Players_Count = gender_df.drop_duplicates('SN')['Gender'].value_counts()
Players_Count

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [16]:
Players_Percent = gender_df.drop_duplicates('SN')['Gender'].value_counts(normalize=True)
Players_Percent

Male                     0.840278
Female                   0.140625
Other / Non-Disclosed    0.019097
Name: Gender, dtype: float64

In [17]:
pd.DataFrame({'Total Count': [Players_Count],
             'Percentage of Players': [Players_Percent]})

,Total Count,Percentage of Players
0,Male 484 Female ...,Male 0.840278 Female ...


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
purchase_data_df.groupby(['Gender']).sum()

                       Purchase ID    Age  Item ID    Price
Gender
Female                       42870   2412     9659   361.94
Male                        255921  14942    60978  1967.64
Other / Non-Disclosed         5019    363     1212    50.19

In [19]:
Purchase_Count = purchase_data_df.groupby(['Gender']).count()['SN']
Purchase_Count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: SN, dtype: int64

In [20]:
Avg_Purchase_Price = purchase_data_df.groupby(['Gender']).mean()['Price']
Avg_Purchase_Price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [21]:
Total_Purchase_Value = purchase_data_df.groupby(['Gender']).sum()['Price']
Total_Purchase_Value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [22]:
Average_Per_Person = purchase_data_df.groupby(['Gender']).sum()['Price']/Players_Count
Average_Per_Person

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [23]:
Summary_df = pd.DataFrame()
Summary_df['Purchase Count'] = Purchase_Count
Summary_df['Average Purchase Price'] = Avg_Purchase_Price
Summary_df['Total Purchase Value'] = Total_Purchase_Value
Summary_df['Avg Total Purchase Per Person'] = Average_Per_Person
Summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [24]:
purchase_data_df['Age'].describe()

count    780.000000
mean      22.714103
std        6.659444
min        7.000000
25%       20.000000
50%       22.000000
75%       25.000000
max       45.000000
Name: Age, dtype: float64

In [50]:
Age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
Age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]

drop_dup_df= purchase_data_df.drop_duplicates(subset='SN')

Age_Range = pd.cut(drop_dup_df["Age"], Age_bins, labels=Age_labels).value_counts()
Age_Range

20-24    258
15-19    107
25-29     77
30-34     52
35-39     31
10-14     22
<10       17
40+       12
Name: Age, dtype: int64

In [51]:
Age_Percentage = (Age_Range/Total_Players)*100
Age_Percentage

20-24    44.791667
15-19    18.576389
25-29    13.368056
30-34     9.027778
35-39     5.381944
10-14     3.819444
<10       2.951389
40+       2.083333
Name: Age, dtype: float64

In [52]:
Age_Demo_df = pd.DataFrame()
Age_Demo_df['Total Count'] = Age_Range
Age_Demo_df['Percentage of Players'] = Age_Percentage.astype(str) + "%" 
Age_Demo_df.sort_index()

       Total Count Percentage of Players
<10             17    2.951388888888889%
10-14           22   3.8194444444444446%
15-19          107    18.57638888888889%
20-24          258    44.79166666666667%
25-29           77   13.368055555555555%
30-34           52    9.027777777777777%
35-39           31    5.381944444444445%
40+             12    2.083333333333333%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [55]:
Age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
Age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
drop_dup_df = purchase_data_df.drop_duplicates(subset='SN')
drop_dup_df["Age"], Age_bins, labels=Age_labels).value_counts()
Age_Demo_df.sort_index()

SyntaxError: invalid syntax (<ipython-input-55-d4029014e384>, line 4)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame